@import "../../config";


.subDIVS {
  display: flex;
  justify-content: space-between;
  p {
    font-family: $font-main;
    font-size: 1.5rem;
    color: #d4d4d4;
  }

  .input {
    width: 250px;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #465b63;
    color: #d4d4d4;
  }

  .link {
    width: 30%;
    height: 40px;
    font-size: 1rem;
    background: #0f4b63;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    transition-duration: 0.4s;

    button {
      font-size: 1rem;
      background: none;
      border: none;
      color: #d4d4d4;
    }

  }

  .newWordButton {
    width: 30%;
    height: 40px;
    font-size: 1rem;
    background: #0f4b63;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
    transition-duration: 0.4s;
    color: #d4d4d4;
    cursor: pointer;
  }

  button:hover {
    background: #116d91;
  }

  .link:hover {
    background: #116d91;
  }

  .correct {
    border-color: #00ff00;
  }

}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #d4d4d4;
}

.mainDIV {

  display: flex;
  flex-direction: column;;
  justify-content: space-between;

  width: 600px;
	height: 1000px;
	// background-color: red;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
